.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.5s;
    transition-timing-function: ease-in;
}

.nav_black {
    background-color: #111;
}

.nav .netflix_logo {
    cursor: pointer;
}

.nav .netflix_logo, .nav .guest_user {
    width: 150px;
    object-fit: contain;
}

.nav .guest_user {
    width: 40px;
    margin-right: 1rem;
}